@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Quicksand&display=swap');

/* || RESET */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    --ff: "Quicksand", sans-serif;
    --ff-headings: "Maven Pro", sans-serif;
    --fs: clamp(1rem, 2.4vh, 2rem);

    /* COLORS */
    --Button-color: whitesmoke;
    --bg-body: whitesmoke;
    --bg-color: #cb510d;
    --bg-fade: #F9C74F;
    --bg-image: linear-gradient(to bottom, var(--bg-color), var(--bg-fade));
    --border-color: #582f0e;
    --fc-dark: #1d1d1f;
    --fc-light: whitesmoke;
    --header-bg-color: #1d1d1f;
    --header-color: whitesmoke;
    --hero-bgcolor: rgba(90, 197, 135, 0.75);
    --hero-color: whitesmoke;
    --hero-outline: rgb(70, 143, 101);
    --highlight-color: #22884F;
    --link-hover: rgba(29, 29, 31, 0.6);
    --nav-bgcolor: whitesmoke;

    /* BORDERS */
    --border-radius: 15px;
    --border: 2px solid var(--border-color);
    --footer_border: 1px solid var(--fc-dark);

    /* PADDINGS */
    --padding-tb: 0.25em;
    --padding-side: 2.5%;

    /* MARGIN */
    --margin: clamp(1em, 2.5vh, 1.5em) 0;
}

@media (prefers-color-scheme: dark) or (prefers-color-scheme: light) {
    :root {
        --bg-body: #1d1d1f;
        --bg-color: #2e3631;
        --bg-fade: #477051;
        --border-color: #131513;
        --fc-dark: whitesmoke;
        --fc-light: #1d1d1f;
        --header-bg-color: #090909;
        --header-color: whitesmoke;
        --hero-bgcolor: rgba(51, 110, 73, 0.75);
        --hero-color: whitesmoke;
        --hero-outline: rgb(44, 107, 73);
        --highlight-color: #12b251;
        --link-hover: rgb(90, 197, 135);
        --nav-bgcolor: #1d1d1f;
    }
}

/* || UTILITY */
.offscreen {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* GENERAL */

html {
    scroll-behavior: smooth;
    font-size: var(--fs);
    font-family: var(--ff);
    background-color: var(--bg-color);
    background-image: var(--bg-image);
}

body {
    background-color: var(--bg-body);
    color: var(--fc-dark);
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    border: var(--border);
    border-radius: 3px;
    box-shadow: 0 0 5px var(--border-color);
}

h1, h2, h3 {
    font-family: var(--ff-headings);
    letter-spacing: 0.01em;
}

h2, h3 {
    padding: 0.5rem;
    color: var(--highlight-color);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--fc-dark);
}

a:hover {
    color: var(--link-hover);
}

a:active {
    color: var(--bg-color);
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header h1 {
    text-align: center;
    background-color: var(--header-bg-color);
    color: var(--header-color);
    padding: var(--padding-tb) var(--padding-side);
}

.header nav {
    background-color: var(--nav-bgcolor);
    border-bottom: var(--border);
    font-weight: bold;
    box-shadow: 0 3px 5px -2.5px var(--border-color);
}

.header ul {
    padding: var(--padding-tb) var(--padding-side);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* HERO */

.hero {
    position: relative;
}

.hero h2 {
    background-color: var(--hero-bgcolor);
    color: var(--hero-color);
    padding: 0.25em 0.5em;
    position: absolute;
    left: 20px;
    top: -1000px;
    border: 1px solid var(--hero-outline);
    border-top: none;
    animation: showWelcome 0.4s ease-in-out 0.5s forwards;
}

@keyframes showWelcome {
    0% {
        top: -20px;
        transform: scaleY(0);
    }

    80% {
        top: 10px;
        transform: scaleY(1.2);
    }

    100% {
        top: 0;
        transform: scaleY(1);
    }
}

/* || FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--header-bg-color);
    color: var(--header-color);
    padding: var(--padding-tb) var(--padding-side);
    text-align: center;
    font-size: 0.75rem;
}

/* || MAIN */

.main {
    padding: var(--padding-tb) var(--padding-side);
    height: 100vh;
}

.main__article {
    scroll-margin-top: 7rem;
    margin: var(--margin);
    padding: var(--padding-tb) var(--padding-side);
}

.main__article:last-child {
    min-height: calc(100vh - 25rem);
}


/* || HOURS */

.hours__hero {
    overflow: hidden;
}

.hours__main {
    height: 60vh;
}

.hero {
    width: 100%;
}

.hero img {
    width: 100%;
}

/* || ABOUT */

.about__trivia {
    margin: var(--margin);
}

.about__answer {
    margin-top: 1em;
}

/* || CONTACT */

.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input, .contact__textarea {
    padding: 0.25em;
    border-radius: var(--border-radius);
    margin-top: 0.5em;
    width: 100%;
}

.contact__hero {
    top: -13vw;
    overflow: hidden;
}

.contact__header {
    max-height: calc(100vw - 25px);
}

.contact__btn {
    padding: 0.5em;
    border-radius: var(--border-radius);
    background-color: var(--highlight-color);
    color: var(--Button-color);
    font-weight: bolder;
}

/* || MENU */

thead, tbody, tfoot, tr {
    display: contents;
}

.menu__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "hd1 hd2 hd3"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "cs cs cs";
    gap: 0.1em;
    margin-bottom: 1em;
    justify-items: center;
}

.menu__cr {
    grid-area: cr;
}

.menu__sf {
    grid-area: sf;
}

.menu__cs {
    grid-area: cs;
}

.menu__cr, .menu__sf, .menu__cs, .menu__header {
    color: var(--highlight-color);
    font-weight: bold;
    height: 100%;
    display: grid;
    place-content: center;
}

.menu__header, .menu__item {
    width: 100%;
    padding: 1em;
    border: medium ridge var(--border-color);
}

.menu__item {
    display: grid;
    place-content: center;
}

thead th:first-child {
    border-top-left-radius: var(--border-radius);
}

thead th:last-child {
    border-top-right-radius: var(--border-radius);
}

tfoot td {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

@media screen and (min-width: 576px) {
    .header__h1::before {
        content: "🌮  ";
    }

    .header__h1::after {
        content: "  🌮";
    }

    .menu__header, .menu__cr, .menu__sf, .menu__cs {
        font-size: 125%;
    }
}

@media screen and (min-width: 900px) {
    .contact__hero {
        top: -8vw;
    }
    .contact__header {
        max-height: calc(900px - 7vw);
    }
}

hr {
    box-shadow: 0 0 10px 2px var(--highlight-color);
}
